
    <div class="row">
        <h1>WH40k Stratagem Manager</h1>
        <h2>Unit helper</h2>
        <br>
        <br>
        <br>
    </div>
    
    <div class="row">
        <h3>Choose your faction:</h3>

        <br>
        <br>
        <br>
        
        <div class="col">
            <div class="card highlight-card card-small"> 
            <h4>Imperium</h4>
            </div>
            <ul *ngFor="let f of factions" >
                <li *ngIf="f.Metagroup == 'Imperium'" (click)="onSelect(f)">
                    <span>{{f.Name}}</span>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="card highlight-card card-small"> 
            <h4>Xenos</h4>
            </div>

            <section>
            
            <ul *ngFor="let f of factions">
                <li *ngIf="f.Metagroup == 'Xenos'" (click)="onSelect(f)">
                       <div class="example-button-row">{{f.Name}}</div>
                </li>
            </ul>
            
        </section>
        </div>
        <div class="col">
            <div class="card highlight-card card-small"> 
            <h4>Chaos</h4>
            </div>
            <ul *ngFor="let f of factions">
                <li *ngIf="f.Metagroup == 'Chaos'" (click)="onSelect(f)">
                    <span>{{f.Name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" *ngIf="selected">
        <p>{{selected.Id}} : {{selected.Name}}</p>
        <br/>
        <button class="btn btn-success">Edit?</button>
        <button class="btn btn-success" *ngIf="selected.Approved == true" routerLink="../browser">Browse</button>
    </div>

